<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PHONE_GUAGUALE_STATISTIC</key>
    <dict>
        <key>actionName</key>
        <string>刮刮乐报表</string>
        <key>mediatorMethod</key>
        <string>TDFMediator_actACTStatisticViewControllerWithData:</string>
        <key>mediatorClass</key>
        <string>TDFMediator+OneSaleActivity</string>
    </dict>
    <key>PHONE_GUAGUALE</key>
    <dict>
        <key>actionName</key>
        <string>刮刮乐</string>
        <key>mediatorMethod</key>
        <string>TDFMediator_actACTActivityEditerControllerWithData:</string>
        <key>mediatorClass</key>
        <string>TDFMediator+OneSaleActivity</string>
    </dict>
    <key>PHONE_BRAND_GUAGUALE</key>
    <dict>
        <key>actionName</key>
        <string>刮刮乐</string>
        <key>mediatorMethod</key>
        <string>TDFMediator_actACTActivityListController</string>
        <key>mediatorClass</key>
        <string>TDFMediator+OneSaleActivity</string>
    </dict>

	<key>PHONE_MENU_LABEL</key>
	<dict>
		<key>actionName</key>
		<string>商品标签</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_orderSetViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SmartModel</string>
	</dict>
	<key>PHONE_BILL</key>
	<dict>
		<key>actionName</key>
		<string>挂账</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFSignBillController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+HomeModule</string>
	</dict>
	<key>PHONE_MENU_REMIND</key>
	<dict>
		<key>actionName</key>
		<string>点餐提醒与推荐</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_orderRecommendViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SmartModel</string>
	</dict>
	<key>PHONE_OPEN_SHUNFENG</key>
	<dict>
		<key>actionName</key>
		<string>开通顺丰同城配送</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_LocalDeliveryViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_CHANGE_SKIN</key>
	<dict>
		<key>actionName</key>
		<string>个性化换肤</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_exchangeSkinViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_KIND_CARD</key>
	<dict>
		<key>actionName</key>
		<string>会员卡</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_kindCardListViewControllerWithParams:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PAD_CHARGE_DISCOUNT</key>
	<dict>
		<key>actionName</key>
		<string>卡充值设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfRechargeViewControllerWithParams:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PAD_DEGREE_EXCHANGE</key>
	<dict>
		<key>actionName</key>
		<string>积分兑换设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfGiftListViewControllerWithParams:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PAD_SMS_MARKET</key>
	<dict>
		<key>actionName</key>
		<string>短信营销</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_smsListViewControllerWithParams:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PHONE_SCAN_CODE_MEMBER</key>
	<dict>
		<key>actionName</key>
		<string>扫码即会员</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFScanVipController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+HomeModule</string>
	</dict>
	<key>PHONE_TAKE_MENU</key>
	<dict>
		<key>actionName</key>
		<string>取餐</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFTakeMealControllr</string>
		<key>mediatorClass</key>
		<string>TDFMediator+HomeModule</string>
	</dict>
	<key>PHONE_MENU_PICTURE_PAGE</key>
	<dict>
		<key>actionName</key>
		<string>商品页首页尾</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_headerFooterViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_BRAND_MENU</key>
	<dict>
		<key>actionName</key>
		<string>商品</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFChainMenuViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+ChainMenuModule</string>
	</dict>
	<key>PHONE_BRAND_MEMBER</key>
	<dict>
		<key>actionName</key>
		<string>会员</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfMemberViewControllerWithData:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PHONE_BRANCH_USER</key>
	<dict>
		<key>actionName</key>
		<string>员工(分公司)</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_chainEmployeeListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+ChainEmployeeModule</string>
	</dict>
	<key>PHONE_BRANCH_SHOP</key>
	<dict>
		<key>actionName</key>
		<string>门店(分公司)</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_storesListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+StoresModule</string>
	</dict>
	<key>PHONE_BRAND_SHOP</key>
	<dict>
		<key>actionName</key>
		<string>门店(连锁)</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_storesListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+StoresModule</string>
	</dict>
	<key>PHONE_BRAND_GROUP</key>
	<dict>
		<key>actionName</key>
		<string>总部(连锁)</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_chainBusinessViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+ChainModule</string>
	</dict>
	<key>PHONE_BRAND_USER</key>
	<dict>
		<key>actionName</key>
		<string>员工(连锁)</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_chainEmployeeListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+ChainEmployeeModule</string>
	</dict>
	<key>PAD_LOAN_SET</key>
	<dict>
		<key>actionName</key>
		<string>我要贷款</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_loanListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+LoanModule</string>
	</dict>
	<key>PAD_ACCOUNT_OPERATION</key>
	<dict>
		<key>actionName</key>
		<string>账单优化</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_billModifyViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+BillModifyModule</string>
	</dict>
	<key>PAD_MENU</key>
	<dict>
		<key>actionName</key>
		<string>商品与套餐</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFChainMenuViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+ChainMenuModule</string>
	</dict>
	<key>PHONE_MEMBER</key>
	<dict>
		<key>actionName</key>
		<string>会员</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfMemberViewControllerWithData:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PAD_FUNCTION</key>
	<dict>
		<key>actionName</key>
		<string>功能大全</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfFunctionViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>SHOP_WAITER_REVIEW</key>
	<dict>
		<key>actionName</key>
		<string>服务生评价</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_waiterEvaluateViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+EvaluateModule</string>
	</dict>
	<key>PAD_SHOP_REVIEW</key>
	<dict>
		<key>actionName</key>
		<string>店铺评价</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopEvaluateViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+EvaluateModule</string>
	</dict>
	<key>PAD_WHOLE_REVIEW</key>
	<dict>
		<key>actionName</key>
		<string>综合评价</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_totalEvaluateViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+EvaluateModule</string>
	</dict>
	<key>CUSTOMER_EVALUATION</key>
	<dict>
		<key>actionName</key>
		<string>顾客评价</string>
		<key>mediatorMethod</key>
		<string>tdfMediator_tdfEvaluateListViewController:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+EvaluateModule</string>
	</dict>
	<key>PAD_BLACK_LIST</key>
	<dict>
		<key>actionName</key>
		<string>黑名单</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopBlackListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_ORDER_REPETITION</key>
	<dict>
		<key>actionName</key>
		<string>顾客点餐重复提醒</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_orderReminderViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_SELECT_MENU</key>
	<dict>
		<key>actionName</key>
		<string>必选商品</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_mustSelectGoodsViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_QUEUE_SEAT</key>
	<dict>
		<key>actionName</key>
		<string>排队桌位类型</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_QueuKindListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_TAKEOUT_SETTING</key>
	<dict>
		<key>actionName</key>
		<string>外卖设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_takeOutSetEditViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_RESERVE_SETTING</key>
	<dict>
		<key>actionName</key>
		<string>预订设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_reserveSetEditViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_SALES_RANKING</key>
	<dict>
		<key>actionName</key>
		<string>本店销量榜</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopSalesRankViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_WEIXIN_CODE</key>
	<dict>
		<key>actionName</key>
		<string>店家微信公众号设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_WXOfficialAccountController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_SHOP_LOGO</key>
	<dict>
		<key>actionName</key>
		<string>店铺LOGO</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopLogoViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_SHOP_QRCODE</key>
	<dict>
		<key>actionName</key>
		<string>店铺二维码</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopCodeViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_BASE_SETTING</key>
	<dict>
		<key>actionName</key>
		<string>基础设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_baseSetingViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_CARD_SHOPINFO</key>
	<dict>
		<key>actionName</key>
		<string>店家资料</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFShopKeeperDataController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+HomeModule</string>
	</dict>
	<key>PAD_DATA_CLEAR</key>
	<dict>
		<key>actionName</key>
		<string>营业数据清理</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_DataClearViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_CHANGE_QUEUE</key>
	<dict>
		<key>actionName</key>
		<string>更换排队机</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_CancelQueuViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_LOAN</key>
	<dict>
		<key>actionName</key>
		<string>我要贷款</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_loanListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+LoanModule</string>
	</dict>
	<key>PAD_SIGN_BILL</key>
	<dict>
		<key>actionName</key>
		<string>挂账处理</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_signBillViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SignBillModule</string>
	</dict>
	<key>PAD_SIGN_PERSON</key>
	<dict>
		<key>actionName</key>
		<string>挂账设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_SignBillListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_SPECIAL_OPERATE</key>
	<dict>
		<key>actionName</key>
		<string>特殊操作原因</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_SpecialReasonListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_FEE_PLAN</key>
	<dict>
		<key>actionName</key>
		<string>附加费</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_FeePlanListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_ZERO_PARA</key>
	<dict>
		<key>actionName</key>
		<string>零头处理方式</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_ZeroListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_TABLE_ITEM</key>
	<dict>
		<key>actionName</key>
		<string>客单备注</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_CustomerListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_BILL_TEMPLATE</key>
	<dict>
		<key>actionName</key>
		<string>收银单据</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_ShopTemplateListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_TIME_ARRANGE</key>
	<dict>
		<key>actionName</key>
		<string>营业班次</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TimeArrangeListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_OPEN_TIME</key>
	<dict>
		<key>actionName</key>
		<string>营业结束时间</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_openTimePlanViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_SHOPINFO</key>
	<dict>
		<key>actionName</key>
		<string>店家信息</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopBaseViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>FOOD_SEND</key>
	<dict>
		<key>actionName</key>
		<string>传菜</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfTransModuleViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>BRAND_MENU_SEND</key>
	<dict>
		<key>actionName</key>
		<string>传菜</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfTransModuleViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_BRAND_CHUANCAI</key>
	<dict>
		<key>actionName</key>
		<string>传菜</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfTransModuleViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PAD_KIND_PAY</key>
	<dict>
		<key>actionName</key>
		<string>付款方式</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_KindPayListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_EMPLOYEE</key>
	<dict>
		<key>actionName</key>
		<string>员工</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_employeeListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+EmployeeModule</string>
	</dict>
	<key>PAD_SEAT</key>
	<dict>
		<key>actionName</key>
		<string>桌位</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_SeatListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SeatModule</string>
	</dict>
	<key>PAD_EVALUATE</key>
	<dict>
		<key>actionName</key>
		<string>顾客评价</string>
		<key>mediatorMethod</key>
		<string></string>
		<key>mediatorClass</key>
		<string></string>
	</dict>
	<key>PHONE_SMART_MENU</key>
	<dict>
		<key>actionName</key>
		<string>智能点餐</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfSmartOrderModuleViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SmartModel</string>
	</dict>
	<key>PAD_MEMBER</key>
	<dict>
		<key>actionName</key>
		<string>会员</string>
	</dict>
	<key>PAD_KABAW</key>
	<dict>
		<key>actionName</key>
		<string>顾客端设置</string>
		<key>mediatorMethod</key>
		<string>tdfMediator_tdfKabawModulViewController:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PAD_PAYMENT</key>
	<dict>
		<key>actionName</key>
		<string>电子收款明细</string>
		<key>mediatorMethod</key>
		<string></string>
		<key>mediatorClass</key>
		<string></string>
	</dict>
	<key>PAD_PRODUCE_PLAN</key>
	<dict>
		<key>actionName</key>
		<string>传菜方案</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_pantryListViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_BRAND_MENU_SEND</key>
	<dict>
		<key>actionName</key>
		<string>传菜方案</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_pantryListViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PAD_REPLACE_PRINT</key>
	<dict>
		<key>actionName</key>
		<string>备用打印机</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_backupPrinterListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_SUIT_MENU_PRINT</key>
	<dict>
		<key>actionName</key>
		<string>套餐中商品分类打印设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_suitMenuPrinterViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_BRAND_SUIT_MENU_PRINT</key>
	<dict>
		<key>actionName</key>
		<string>套餐中商品分类打印设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_suitMenuPrinterViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_AREA_PRINT</key>
	<dict>
		<key>actionName</key>
		<string>点菜单分区域打印</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_menuAreaPrinterListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PAD_NOTPRINT</key>
	<dict>
		<key>actionName</key>
		<string>不出单商品</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_noPrintMenuListViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_BRAND_NOTPRINT</key>
	<dict>
		<key>actionName</key>
		<string>不出单商品</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_noPrintMenuListViewControllerWithObject:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+TransModule</string>
	</dict>
	<key>PHONE_VOICE_SET</key>
	<dict>
		<key>actionName</key>
		<string>叫号语音设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_callVoiceSettingViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_SCREEN_ADVERTISEMENT</key>
	<dict>
		<key>actionName</key>
		<string>店内屏幕广告</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_shopScreenAdViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PAD_QUEUE_SETTINGS</key>
	<dict>
		<key>actionName</key>
		<string>排队设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_queueSettingViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+KabawModule</string>
	</dict>
	<key>PHONE_WEIXIN_MARKETING</key>
	<dict>
		<key>mediatorMethod</key>
		<string>TDFMediator_wechatMarketingViewControllerWithData:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+WechatMarketing</string>
		<key>actionName</key>
		<string>微信公众号营销</string>
	</dict>
	<key>PHONE_BRAND_WEIXIN_MARKETING</key>
	<dict>
		<key>mediatorMethod</key>
		<string>TDFMediator_wechatMarketingViewControllerWithData:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+WechatMarketing</string>
		<key>actionName</key>
		<string>微信公众号营销</string>
	</dict>
	<key>PHONE_COUPON</key>
	<dict>
		<key>actionName</key>
		<string>优惠券</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_tdfMemberCouponViewControllerWithParams:callback:</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PHONE_SALE</key>
	<dict>
		<key>actionName</key>
		<string>促销活动</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_promotionListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PHONE_PRIVILEGE</key>
	<dict>
		<key>actionName</key>
		<string>会员等级特权</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_memberlevelViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberLevelModule</string>
	</dict>
	<key>PAD_BRAND_KIND_PAY</key>
	<dict>
		<key>actionName</key>
		<string>付款方式</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_BrandKindPayListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_BRAND_BILL_TEMPLATE</key>
	<dict>
		<key>actionName</key>
		<string>收银单据</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_ShopTemplateListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_BRAND_SYNC_SHOP</key>
	<dict>
		<key>actionName</key>
		<string>同步到门店</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_ChainIssueCenterViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+IssueCenter</string>
	</dict>
	<key>PHONE_BRAND_LANGUAGE</key>
	<dict>
		<key>actionName</key>
		<string>界面语言</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_nativeViewControllerForInterfaceLanguage</string>
		<key>mediatorClass</key>
		<string>TDFMediator+BaseSetting</string>
	</dict>
	<key>PHONE_LANGUAGE</key>
	<dict>
		<key>actionName</key>
		<string>界面语言</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_nativeViewControllerForInterfaceLanguage</string>
		<key>mediatorClass</key>
		<string>TDFMediator+BaseSetting</string>
	</dict>
	<key>PAD_SETTING</key>
	<dict>
		<key>actionName</key>
		<string>界面语言</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_nativeViewControllerForInterfaceLanguage</string>
		<key>mediatorClass</key>
		<string>TDFMediator+BaseSetting</string>
	</dict>
	<key>PHONE_BRAND_BUSINESS_MODEL</key>
	<dict>
		<key>actionName</key>
		<string>商业模式</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_nativeViewControllerForBusinessModel</string>
		<key>mediatorClass</key>
		<string>TDFMediator+BaseSetting</string>
	</dict>
	<key>PHONE_BUSINESS_MODEL</key>
	<dict>
		<key>actionName</key>
		<string>商业模式</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_nativeViewControllerForBusinessModel</string>
		<key>mediatorClass</key>
		<string>TDFMediator+BaseSetting</string>
	</dict>
	<key>PHONE_BRAND_TABLE_ITEM</key>
	<dict>
		<key>actionName</key>
		<string>客单备注</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_CustomerListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_BRAND_ZERO_PARA</key>
	<dict>
		<key>actionName</key>
		<string>零头处理方式</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_ZeroListViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_BRAND_SPECIAL_OPERATE</key>
	<dict>
		<key>actionName</key>
		<string>特殊操作原因</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_SpecialReasonListView</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SettingModule</string>
	</dict>
	<key>PHONE_OPEN_CHAIN</key>
	<dict>
		<key>actionName</key>
		<string>开通连锁</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFOpenChainViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+ShopToChainModule</string>
	</dict>
	<key>PHONE_BRAND_PLEDGE_SET</key>
	<dict>
		<key>actionName</key>
		<string>积分抵现设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFGiftRechargeViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PHONE_PLEDGE_SET</key>
	<dict>
		<key>actionName</key>
		<string>积分抵现设置</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_TDFGiftRechargeViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+MemberModule</string>
	</dict>
	<key>PHONE_SUN_KITCHEN</key>
	<dict>
		<key>actionName</key>
		<string>阳光厨房</string>
		<key>mediatorMethod</key>
		<string>TDFMediator_sunKitchenViewController</string>
		<key>mediatorClass</key>
		<string>TDFMediator+SunKitchenModule</string>
	</dict>
</dict>
</plist>
